html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.nav-item{
    width: 100%;
}
.head-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 990px) {
    .nav-bar  a{
        width: 200%;
    }
.nav-bar img{
    margin-left: 60%;
}
}
