{# Dummy html file so css dead code elimination knows to leave these classes in the css #}

{# From video description md renderer #}
<div class="font-weight-bold text-left pl-4"></div>
<div class="text-center table table-sm w-auto"></div>

<ul class="text-left pl-4">
    <li>Mary McCatty</li>
    <li>Olivia Hajian</li>
</ul>
<ol class="text-left pl-4">
    <li>Mary McCatty</li>
    <li>Olivia Hajian</li>
</ol>

<table class="text-center table table-sm w-auto">
    <thead>
    <tr>
        <th>A</th>
        <th>B</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>C Allan Meing</td>
        <td>D</td>
    </tr>
    </tbody>
</table>