{% extends "layout.html" %}

{% block content %}
    <h2 class="mb-1 ml-2"><a href="{{ url_for('video_list') }}">Videos</a></h2>

    {% for thumbnail, title, description, youtube_url, vimeo_url, download_url in video_list %}
        <div class="border mt-3 rounded">
            <div class="media m-2">
                <img class="align-self-center mr-3" src="{{ url_for('static', filename=('video_thumbnails/'+thumbnail)) }}" alt="{{ title }}" style="width: 150px;">
                <div class="media-body">
                    <h5 class="mt-0">{{ title }}</h5>

                    {{ description }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}