<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    {% block head %}
        <title>Connor W Fitzgerald</title>
    {% endblock %}
</head>
<body>
<div class="content">
    <div style="background-color: #3f3fd4; min-width: 100%;" class="mb-2">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <header class="col-md-12 col-lg-9 navbar navbar-dark navbar-expand flex-column flex-md-row">
                    <a class="navbar-brand" href="/"><img width="40px"
                                                          src="{{ url_for('static', filename='cwf-logo-white.svg') }}"/></a>
                    <div class="navbar-nav">
                        <a href="/videos" class="nav-item nav-link">Videos</a>
                        <a href="/VAT2" class="nav-item nav-link">Value Added Taxes2</a>
                        <a href="/VAT3" class="nav-item nav-link">Value Added Taxes3</a>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 row">
                <div class="col-lg-3 col-md-12">
                    {% block nav_l %}

                    {% endblock nav_l %}
                </div>
                <div class="col-lg-6 col-md-12">
                    {% block content %}
                        {{ name }}
                    {% endblock %}
                </div>
                <div class="col-lg-3 col-md-12">
                    {% block nav_r %}

                    {% endblock nav_r %}
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="width: 100%; background-color: #cbcbcb; padding: 1em" class="mt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12">
                <p class="text-center">
                    &copy; {{ get_year() }} Connor W Fitzgerald. All Rights Reserved.
                </p>

                {# github #}

                <p>
                    <a style="color: #000000" href="https://github.com/cwfitzgerald">
                        <img src="{{ url_for('static', filename='third-party-logos/github-mark.svg') }}"
                             style="height: 1em; margin-bottom: 0.2em">
                    </a>
                    <a style="color: #000000; margin-left: 0.1em" href="https://github.com/cwfitzgerald">
                        cwfitzgerald
                    </a>
                </p>

                {# youtube #}

                <p>
                    <a style="color: #000000" href="https://www.youtube.com/channel/UCGm4XqNQxlLww0Lv8lVXeQw">
                        <span class="fab fa-youtube"></span>
                    </a>
                    <a style="color: #000000; margin-left: 0.1em"
                       href="https://www.youtube.com/channel/UCGm4XqNQxlLww0Lv8lVXeQw">
                        Connor Fitzgerald
                    </a>
                </p>

                {# email #}

                <p>
                    <span class="fas fa-envelope"></span>

                    <span style="margin-left: 0.1em">
                        connor(wade)fitzgerald@gmail.com.
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>